<?xml version="1.0" encoding="ISO-8859-1" ?>


<!-- ~~~~~~~~~~~~~~I am NOT commenting on this~~~~~~~~~~~~~~ -->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <servlet>
        <servlet-name>ExecuteServlet</servlet-name>
        <servlet-class>ExecuteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExecuteServlet</servlet-name>
        <url-pattern>/executePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getImagesServlet</servlet-name>
        <servlet-class>getImagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getImagesServlet</servlet-name>
        <url-pattern>/getImages</url-pattern>
    </servlet-mapping>
     <context-param>
        <param-name>upload.location</param-name>
        <param-value>C:/apache-tomcat-8.0.36/webapps/MachineLearningIITKGP/uploads/</param-value>  <!--This is a disgrace. Sadly. I'll change it sometime-->
     </context-param>
     <servlet>
        <servlet-name>uploadedImages</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
     <servlet-mapping>
        <servlet-name>uploadedImages</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>
   <!-- <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>-->
</web-app>